body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.token-card {
  height: 48%;
  width: 48%;
  margin: 12px 12px;
  background-color: rgb(197, 204, 211);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(255, 0, 106);
}

.price-change {
  align-self: flex-end;
  width: fit-content;
  /* position: relative; */
  /* left: 170%; */
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.up {
  color: white;
  transform: rotate(180deg);
}

.down {
  color: white;
}

img {
  height: auto;
  width: 50%;
  margin: 10px;
}

.token-price {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 5px;
}

.high_low {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.token-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: none;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: white;
  border: 1px solid white;
  margin-left: 5px;
  color: black;
  font-weight: bold;
  width: 98%;
  position: absolute;
  top: 48.5%;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .card-body {
    width: 48% !important;
    height: 48% !important;
  }

  .token-name p {
    font-size: 30px !important;
  }

  .market-cap {
    font-size: 16px !important;
  }

  .token-price {
    font-size: 1.15rem !important;
  }

  .high_low {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .card-body {
    width: 100% !important;
    height: 48% !important;
  }

  .token-name p {
    font-size: 22px !important;
  }

  .market-cap {
    font-size: 12px !important;
  }

  .token-price {
    font-size: 0.8rem !important;
  }

  .high_low {
    font-size: 12px !important;
  }

  .pricechange {
    font-size: 16px !important;
  }
}

.app-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apexcharts-yaxis {
  display: none;
}

.apexcharts-xaxis {
  display: none;
}

.market-cap {
  font-size: 18px;
  font-weight: 500;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.high_low p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

/* New CSS */

.top-card {
  margin: -35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left-card {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.right-card {
  display: flex;
  width: 70%;
}

.bottom-card {
  padding-top: 10px;
  border-top: 2px dotted grey;
}

.token-name p {
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
}

.blink {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.trading-chart {
  height: 99%;
  width: 99%;
}

.card-body {
  margin: 5px;
  background-color: #61dafb;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  width: 49%;
  height: 49%;
  background-color: rgb(197, 204, 211);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(255, 0, 106);
}

.top {
  width: 100%;
  flex: 5;
  display: flex;
}

.bottom {
  width: 100%;
  flex: 1;
  display: flex;
}

.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #878787;
  border-right: 1px solid #878787;
}

.right {
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #878787;
}

.pricechange {
  height: 90%;
  width: 90%;
  font-size: 25px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

iframe {
  border-radius: 10px;
}
